:root {
    /* Themes color */
    --bodyLightColor: #f1f2f6;
    --bodyDarkColor: #161616;
    
    --titrDarkColor: #1d1615;
    --textDarkColor: #747d8c;
    
    --titrLightColor:#ffffff;
    --textLightColor:#e2ebee;
    /* basic color for web */
    --componentColor: #fff;
    --btnColor: #00a473;
    --textBrand:var(--btnColor)
}

@font-face {
    font-family: fontBrand;
    src: url(/src/assets/Fonts/Molgan.otf), format('otf');
}
@font-face {
    font-family: fontTitr;
    src: url(/src/assets/Fonts/MIKHAK-BOLD.TTF), format('ttf');
}

.bodyLightColor{
    background-color: var(--bodyLightColor);
}
.bodyDarkColor{
    background-color: var(--bodyDarkColor);
}
.titrDarkColor{
    color: var(--titrDarkColor);
}
.textDarkColor{
    color: var(--textDarkColor);
}
.titrLightColor{
    color: var(--titrLightColor);
}
.textLightColor{
    color: var(--textLightColor);
}
.componentColor{
    background-color: var(--componentColor);
}
.btnColor{
    background-color: var(--btnColor);
}
.textBrand{
    color: var(--textBrand);
}
.fontBrand {
    font-family: fontBrand !important;
}
.fontTitr{
    font-family: fontTitr;
}
.shadowNav{
    box-shadow: inset rgba(0, 0, 0, 0.3);
}